<div class="pagination-container">
    <span class="page-links">
        <a href="?{{ filter.form.urlencode }}&page=1">&laquo; Первая</a>
        {% if page_obj.has_previous %}
            <a href="?{{ filter.form.urlencode }}&page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="current-page">[{{ num }}]</span>
            {% elif num == 1 or num == page_obj.paginator.num_pages or num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                <a href="?{{ filter.form.urlencode }}&page={{ num }}">{{ num }}</a>
            {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
                {% if num == page_obj.number|add:-3 and num > 1 %}...{% endif %}
                {% if num == page_obj.number|add:3 and num < page_obj.paginator.num_pages %}...{% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?{{ filter.form.urlencode }}&page={{ page_obj.next_page_number }}">Вперёд</a>
        {% endif %}
        <a href="?{{ filter.form.urlencode }}&page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
    </span>
</div>